body {
  background: linear-gradient(to bottom right, #e9eaee, #f7f4fa);
  background-attachment: fixed;
}

.dashboard-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.dashboard-wrapper * {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.expense-table {
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 8px;
  
}

.expense-table thead th {
  background: linear-gradient(90deg, #3d40ca, #2d25ca);
  color: white;
  font-weight: bold;
  padding: 12px;
  text-align: center; 
  border: none;
}

.expense-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;  
  text-align: center; 
}

.expense-table tbody tr:nth-child(odd) {
  background-color: #c6ccd3;
}

.expense-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.expense-table tbody tr:hover {
  background-color: #e8f4ff; 
  cursor: pointer;
}


.expense-table td.mod-col,
.expense-table th.mod-col {
  width: 140px;             
  padding: 6px 8px;         
  white-space: nowrap;
  vertical-align: middle;   
}

.mod-col .actions {
  display: inline-flex;       
  gap: 10px;                  
  justify-content: center;
  align-items: center;
}

.icon-btn {
  padding: 6px 8px;          
  font-size: 15px;            
  cursor: pointer;
  border-radius: 6px;
  border: none;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-btn.edit-btn {
  background-color: #007bff;
}

.icon-btn.edit-btn:hover {
  background-color: #6e9dcf;
}

.icon-btn.delete-btn:hover {
  background-color: #da6873;
}

.summary-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 20px;
  margin-right: 0%;
}

.summary-card {
  background: rgba(238, 213, 213, 0.925);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  padding: 20px;
  border: 2px solid #eb4d4d;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.summary-card h4 {
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.summary-card .amount {
  font-size: 22px;
  font-weight: bold;
  color: #007bff;
}

.wide-card {
  grid-column: span 2;
}

.summary-card ul {
  padding-left: 20px;
}

.summary-card li {
  padding: 4px 0;
  color: #131212;
  font-size: 15px;
}

.filter-box {
  background-color: #f8f8f8;
  padding: 0;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-box select,
.filter-box input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #080606;
}

.filter-box button {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0077ff;
  color: white;
}

.btn-reset {
  background-color: #dc3545 !important;
}

