.expense-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 25px;
  border: 3px solid #080808;
  border-radius: 8px;
  background: white;
  animation: slideIn 0.7s ease-out;   
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.expense-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.expense-container select,
.expense-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 2px solid #242020;
  border-radius: 6px;
  background-color: white;
  box-sizing: border-box;
}

.expense-container button {
  width: 100%;
  padding: 10px;
  background-color: #0077ff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid #242020;
}

.expense-container button:hover {
  background-color: #005fcc;
}

.error-text {
  color: red;
  margin-top: 10px;
  text-align: center;
}



