.register-wrapper {  
  display: flex;
  height: 85vh;
  width: 100%;
}

.register-left {
  flex: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-left img {
  width: 100%;
  
  object-fit: fill;
}

.register-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 25px;
  border: 3px solid #080808;
  border-radius: 8px;
  animation: slideIn 0.7s ease-out; 
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container input {
  width: 100%;
  padding: 10px 0 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
  border: 2px solid #242020;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid #242020;
}

.register-container button:hover {
  background-color: #1d7f34;
}

.error-text {
  color: red;
  text-align: center;
  margin-top: 10px;
}
