.reports-container {
  padding: 20px;
}

.report-section {
  margin-bottom: 40px;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.chart-box {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
}
